<div class="container-fluid container-cards-pf">

  <div class="row row-cards-pf">
    <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
    <div class="col-xs-12 col-sm-6">
      <div class="card-pf" style="height: 386.077px;">
        <div class="card-pf-heading">
          <h2 class="card-pf-title" style="height: 16.6667px;">
            Top Utilized Clusters
          </h2>
        </div>
        <div class="card-pf-body" style="height: 304.444px;">
          <div class="progress-description">
            RHOS6-Controller
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card-pf" style="height: 386.077px;">
        <div class="card-pf-heading">
          <h2 class="card-pf-title" style="height: 16.6667px;">
            Quotas
          </h2>
        </div>
        <div class="card-pf-body" style="height: 304.444px;">

          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>

        </div>
      </div>
    </div>
  </div>

</div>