.text-white {
  color: white;
}

.jumbotron {
  position: relative;
  background-color: #343a40;
  background: url('../../assets/img/bg-masthead.jpg') no-repeat center center;
  padding-top: 8rem;
  padding-bottom: 8rem;

  h1, p {
    font-weight: 700;
  }

}
